<div id="selectorProgress">
    <form action="" method="get" id="selected">
        <p>Exercise:
            <select name="exercise" name="exercise">
                {{#each exercise}}
                    <option value="{{this._id}}"> {{this.name}} </option>
                {{/each}}
            </select> &nbsp;
            Show past:
            <input type="radio" name="date" value="month">&nbsp; Month &nbsp;
            <input type="radio" name="date" value="six">&nbsp; 6 Months &nbsp;
            <input type="radio" name="date" value="year">&nbsp; Year &nbsp;
            <input type="radio" name="date" value="all">&nbsp; All &nbsp;

    </form>
    <button type="submit" form="selected" value="submit">Show</button>
</div>

<div id="progressChart">

</div>

<div id="progress">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
        {{#each history}}
            <tr>
                <td>{{day this.created_at}}/{{month this.created_at}}/{{year this.created_at}}</td>
                <td>{{this.s}}</td>
                <td>{{this.r}}</td>
                <td>{{this.w}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<!-- Google Chart API -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- Local Chart Drawing -->
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Reps');
        data.addColumn('number', 'Weight');
        data.addRows([
            {{#each history}}
                [new Date({{year this.created_at}}, {{month this.created_at}}, {{day this.created_at}}), {{this.r}}, {{this.w}}],
            {{/each}}
        ]);


        var options = {
            title: '{{ exName }}',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('progressChart'));

        chart.draw(data, options);
    }
</script>